:root{
    --test1: rgb(255, 0, 136);;
    --test2: rgb(255, 0, 136);;
}
/* якщо в root змінити колір він зміниться всюди же використайний var(--ім'я_кольору) */
header, footer{
    background-color: var(--test1);
}
nav{
    background-color: var(--test2);
}
body {
  background-color: rgb(251, 220, 176);
}
.desktop-menu p{
    font-family: "Pacifico", cursive;
    color:rgb(255, 0, 136);
    font-size:30px !important;
}
.desktop-menu {
  border-radius: 12px;
font-family: "Oswald", cursive;
  font-size: 18px;
  border:20px solid rgb(255, 0, 136);;
  background-color: #ffcc00;
}
.mobile-menu p{
    font-family: "Pacifico", cursive;
    color:rgb(255, 0, 136);
    font-size:30px !important;
}
.mobile-menu
{
     border-radius: 12px;
font-family: "Oswald", cursive;
  font-size: 18px;
  border:20px solid rgb(255, 0, 136);;
  background-color: #ffcc00;
}
a{
    color: rgb(255, 0, 136);;
}
.card h3{
    font-family:'Oswald';
    color:#ffb300;
}
.card
{
font-family: 'Oswald',cursive;
color:#ffcc00;
background-color:rgb(255, 0, 136);
border:10px solid #ffb300;
border-radius: 12px;
font-size:15px;
}
.side
{
    font-family: "Pacifico", cursive;
    font-size:20px;
    color:#ffcc00;
}
.page-title
{
    font-family: "Pacifico", cursive;
    font-size:40px;
    color:rgb(255, 0, 136);
}
.hero-img
{
    border:10px solid #ffcc00;
    border-radius:12px;

}
.product-ui h1
{
    font-family: "Oswald", cursive;
    font-size:20px;
    color:rgb(255, 0, 136);
}
.product-ui
{
    font-family: "Oswald", cursive;
    font-size:15px;
    color:rgb(255, 0, 136);
}
.hero-wrapper h3{
    font-family: "Oswald", cursive;
    font-size:30px;
    color:rgb(255, 0, 136);
}
.products h3{
    font-family: "Oswald", cursive;
    font-size:30px;
    color:rgb(255, 0, 136);
}